# Ignore everything
*

# Ignore subdirectories, but not their files
!*/

# But not these files...
!.gitignore
!*.py
!*.ipynb
!*.Rmd
!*.R
!*.r
!*.pl
!*.sh
!*.smk
!*.md

# Ignore directories
.ipynb_checkpoints/
.git/
.snakemake/
.DS_Store/
.git/
__pycache__/
logs/

# Project specific
data/
out/
scafe/
figs/
tables/
11_ldsc/
zz_old/
zz_unused/
